name: Dev

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, synchronize, labeled, ready_for_review]
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - '*'

jobs:
  libs:
    uses: komune-io/fixers-gradle/.github/workflows/make-jvm-workflow.yml@main
    permissions:
      contents: read
      packages: write
    with:
      make-file: 'infra/make/libs.mk'
      on-tag: 'promote'
    secrets:
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
      PKG_GITHUB_USERNAME: ${{ github.actor }}
      PKG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_MAVENCENTRAL_USERNAME }}
      JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_MAVENCENTRAL_PASSWORD }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  sec:
    needs: libs
    uses: komune-io/fixers-gradle/.github/workflows/sec-workflow.yml@main
    permissions:
      contents: write
      pull-requests: read
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
