name: Dev

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, synchronize, labeled, ready_for_review]
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - '*'

jobs:
  libs:
    uses: komune-io/fixers-gradle/.github/workflows/make-jvm-workflow.yml@main
    permissions:
      contents: read
      packages: write
    with:
      make-file: 'infra/script/make_libs.mk'
      on-tag: 'promote'
    secrets:
      GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}
      GPG_SIGNING_PASSWORD: ${{ secrets.GPG_SIGNING_PASSWORD }}
      PKG_GITHUB_USERNAME: ${{ github.actor }}
      PKG_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_MAVENCENTRAL_USERNAME }}
      JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_MAVENCENTRAL_PASSWORD }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docs:
    uses: komune-io/fixers-gradle/.github/workflows/publish-storybook-workflow.yml@main
    permissions:
      contents: read
      packages: write
      pages: write
      id-token: write
    with:
      on-tag: 'stage promote'
      make-file: 'infra/script/make_docs.mk'
      with-chromatic: false
      base-dir: "storybook"
      storybook-dir: "storybook"
      storybook-static-dir: "storybook-static"
    secrets:
      NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
      DOCKER_STAGE_USERNAME: ${{ github.actor }}
      DOCKER_STAGE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      DOCKER_PROMOTE_USERNAME: ${{ secrets.DOCKER_IO_USERNAME }}
      DOCKER_PROMOTE_PASSWORD: ${{ secrets.DOCKER_IO_PASSWORD }}
